{
  "openapi": "3.0.3",
  "info": {
    "title": "MYERP Enterprise RESTful API v1",
    "description": "Cổng đặc tả kỹ thuật API v1 toàn diện của Hệ thống Quản trị Doanh nghiệp Giáo dục MYERP. Bao gồm đầy đủ hoạt động CRUD và quy trình nghiệp vụ chuyên sâu.",
    "version": "1.0.0",
    "contact": {
      "name": "MYERP Architecture & Integration Team",
      "email": "dev@ideas.edu.vn",
      "url": "https://myerp.ideas.edu.vn"
    }
  },
  "servers": [
    {
      "url": "https://myerp.ideas.edu.vn",
      "description": "Production Server (Máy chủ vận hành chính thức)"
    },
    {
      "url": "http://localhost:5173",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "Đăng Nhập Hệ Thống & Cấp Phát JWT Token",
        "description": "Xác thực tài khoản qua username/email và mật khẩu. Trả về Access Token (hạn 2 giờ) và Refresh Token (hạn 7 ngày) kèm thông tin phân quyền RBAC.",
        "tags": [
          "auth"
        ],
        "operationId": "auth-login",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Đăng nhập thành công",
                    "data": {
                      "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refresh_token": "d9a1f28b4c5e7810aa39c4f102938475...",
                      "token_type": "Bearer",
                      "expires_in": 7200,
                      "user": {
                        "id": 1042,
                        "full_name": "Nguyễn Thị Lan",
                        "email": "sale.leader@ideas.edu.vn",
                        "phone": "0901234567",
                        "role": "sale",
                        "tenant_id": 1,
                        "branch_id": 2,
                        "branch_name": "Cơ sở Tân Bình - TP.HCM",
                        "permissions": [
                          "leads.view_own",
                          "leads.create",
                          "deals.view",
                          "quotes.create"
                        ]
                      }
                    },
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "username": "sale.leader@ideas.edu.vn",
                  "password": "Password#2026@Secure",
                  "remember_me": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "summary": "Làm Mới Phiên Đăng Nhập (Refresh Access Token)",
        "description": "Sử dụng Refresh Token còn hiệu lực để cấp phát cặp Token mới mà người dùng không cần nhập lại mật khẩu.",
        "tags": [
          "auth"
        ],
        "operationId": "auth-refresh",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Làm mới phiên đăng nhập thành công",
                    "data": {
                      "access_token": "eyJhbGciOiJIUzI1Ni...",
                      "expires_in": 7200,
                      "token_type": "Bearer"
                    },
                    "timestamp": "2026-10-08T09:01:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "refresh_token": "d9a1f28b4c5e7810aa39c4f102938475..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "summary": "Truy Vấn Hồ Sơ Tài Khoản & Quyền Hạn (Me Profile)",
        "description": "Trích xuất hồ sơ cá nhân của tài khoản đang sở hữu Bearer Token, kiểm tra trạng thái kích hoạt, chi nhánh phụ trách và danh mục RBAC permissions.",
        "tags": [
          "auth"
        ],
        "operationId": "auth-me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Truy vấn hồ sơ cá nhân thành công",
                    "data": {
                      "id": 1042,
                      "full_name": "Nguyễn Thị Lan",
                      "email": "sale.leader@ideas.edu.vn",
                      "phone": "0901234567",
                      "role": "sale",
                      "branch_id": 2,
                      "branch_name": "Cơ sở Tân Bình - TP.HCM",
                      "permissions": [
                        "leads.view_own",
                        "leads.create",
                        "deals.view",
                        "quotes.create",
                        "deposits.view"
                      ]
                    },
                    "timestamp": "2026-10-08T09:02:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/profile": {
      "put": {
        "summary": "Cập Nhật Thông Tin Hồ Sơ Cá Nhân",
        "description": "Cho phép người dùng tự cập nhật số điện thoại, ảnh đại diện avatar và tiểu sử cá nhân.",
        "tags": [
          "auth"
        ],
        "operationId": "auth-profile-update",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Cập nhật hồ sơ cá nhân thành công",
                    "data": {
                      "id": 1042,
                      "updated_at": "2026-10-08 09:05:00"
                    },
                    "timestamp": "2026-10-08T09:05:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "phone": "0909888999",
                  "avatar_url": "https://myerp.ideas.edu.vn/uploads/avatars/user_1042_new.jpg",
                  "bio": "Trưởng nhóm tư vấn tuyển sinh cơ sở Tân Bình"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/change-password": {
      "post": {
        "summary": "Đổi Mật Khẩu Tài Khoản",
        "description": "Thay đổi mật khẩu đăng nhập, yêu cầu xác thực mật khẩu hiện tại và tự động thu hồi token cũ trên các thiết bị khác.",
        "tags": [
          "auth"
        ],
        "operationId": "auth-change-password",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Đổi mật khẩu thành công. Các phiên đăng nhập trên thiết bị khác đã được thu hồi.",
                    "timestamp": "2026-10-08T09:06:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "old_password": "Password#2026@Secure",
                  "new_password": "NewPassword#2026@UltraSecure"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "summary": "Đăng Xuất & Hủy Phiên Làm Việc (Revoke Token)",
        "description": "Đưa Token hiện tại vào danh sách đen (Blacklist Redis/DB) và hủy bỏ hoàn toàn phiên đăng nhập hiện hành.",
        "tags": [
          "auth"
        ],
        "operationId": "auth-logout",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Đăng xuất tài khoản thành công. Token đã bị vô hiệu hóa.",
                    "timestamp": "2026-10-08T09:07:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/permissions": {
      "get": {
        "summary": "Danh Mục Ma Trận Quyền Hạn Toàn Hệ Thống",
        "description": "Truy vấn danh mục đầy đủ các quyền hạn (permissions) và nhóm quyền (roles) được cấu hình trong hệ thống MYERP.",
        "tags": [
          "auth"
        ],
        "operationId": "auth-permissions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Lấy ma trận quyền hạn thành công",
                    "data": [
                      {
                        "module": "contacts",
                        "permissions": [
                          "contacts.view",
                          "contacts.create",
                          "contacts.edit",
                          "contacts.delete",
                          "contacts.export"
                        ]
                      },
                      {
                        "module": "deals",
                        "permissions": [
                          "deals.view",
                          "deals.create",
                          "deals.edit",
                          "deals.delete"
                        ]
                      },
                      {
                        "module": "finance",
                        "permissions": [
                          "finance.view",
                          "finance.create_expense",
                          "finance.approve_expense"
                        ]
                      }
                    ],
                    "timestamp": "2026-10-08T09:08:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/contacts": {
      "get": {
        "summary": "Truy Vấn Danh Sách Khách Hàng / Học Viên (Có Phân Trang & Bộ Lọc)",
        "description": "Lấy danh sách khách hàng và lead theo chi nhánh hoặc quyền sở hữu. Hỗ trợ tìm kiếm theo họ tên, SĐT, email, trạng thái tư vấn và nguồn tiếp cận.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Số thứ tự trang kết quả",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Số lượng bản ghi mỗi trang (tối đa 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Từ khóa tìm kiếm theo họ tên, số điện thoại hoặc email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage_id",
            "in": "query",
            "required": false,
            "description": "Lọc theo ID giai đoạn phễu tư vấn",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "branch_id",
            "in": "query",
            "required": false,
            "description": "Lọc theo cơ sở / chi nhánh phụ trách",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "required": false,
            "description": "Lọc theo ID tư vấn viên đang phụ trách",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Lọc theo nguồn: 'facebook_ads', 'google_search', 'referral', 'zalo_oa'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Truy vấn danh sách khách hàng thành công",
                    "data": {
                      "items": [
                        {
                          "id": 5012,
                          "full_name": "Trần Thị Mai Phương",
                          "phone": "0987654321",
                          "email": "maiphuong.tran@gmail.com",
                          "gender": "female",
                          "stage_id": 3,
                          "stage_name": "Đã Hẹn Tư Vấn Trực Tiếp",
                          "source": "facebook_ads",
                          "branch_id": 2,
                          "branch_name": "Cơ sở Tân Bình - TP.HCM",
                          "assigned_to": 1042,
                          "assigned_to_name": "Nguyễn Thị Lan",
                          "tags": [
                            "bba_international",
                            "hot_lead"
                          ],
                          "created_at": "2026-10-06 14:20:10"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 25,
                        "total_items": 1420,
                        "total_pages": 57
                      }
                    },
                    "timestamp": "2026-10-08T09:10:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Tạo Mới Khách Hàng / Học Viên Tiềm Năng (Lead Inbound)",
        "description": "Thêm mới hồ sơ khách hàng vào cơ sở dữ liệu. Tự động kiểm tra trùng số điện thoại (Anti-Duplicate Check) và kích hoạt phân luồng chia lead nếu không chỉ định tư vấn viên.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-create",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 201,
                    "message": "Tạo khách hàng mới thành công",
                    "data": {
                      "id": 5013,
                      "full_name": "Lê Hoàng Nam",
                      "phone": "0934567890",
                      "status": "new",
                      "assigned_to": 1042,
                      "created_at": "2026-10-08 09:12:00"
                    },
                    "timestamp": "2026-10-08T09:12:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "PHONE_DUPLICATED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "full_name": "Lê Hoàng Nam",
                  "phone": "0934567890",
                  "email": "hoangnam.le@gmail.com",
                  "branch_id": 2,
                  "source": "landing_page",
                  "course_interest": "BBA Digital Marketing K2026",
                  "notes": "Quan tâm học phí và chính sách học bổng đầu vào"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/:id": {
      "get": {
        "summary": "Truy Vấn Chi Tiết Hồ Sơ Khách Hàng 360 Độ",
        "description": "Lấy thông tin chi tiết toàn diện của một khách hàng: thông tin cá nhân, lịch sử cuộc gọi/ghi chú, cơ hội bán hàng (deals), báo giá, đơn hàng và các phiếu thu/chi liên quan.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-detail",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Truy vấn chi tiết khách hàng thành công",
                    "data": {
                      "id": 5012,
                      "full_name": "Trần Thị Mai Phương",
                      "phone": "0987654321",
                      "email": "maiphuong.tran@gmail.com",
                      "address": "123 Cộng Hòa, Phường 12, Quận Tân Bình, TP.HCM",
                      "birth_date": "2006-05-18",
                      "guardian_name": "Trần Văn Hùng (Bố)",
                      "guardian_phone": "0912345678",
                      "stage_name": "Đã Hẹn Tư Vấn Trực Tiếp",
                      "source": "facebook_ads",
                      "deals_count": 1,
                      "quotes_count": 2,
                      "total_deposited": 5000000,
                      "assigned_to_name": "Nguyễn Thị Lan",
                      "created_at": "2026-10-06 14:20:10"
                    },
                    "timestamp": "2026-10-08T09:11:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Cập Nhật Hồ Sơ Thông Tin Khách Hàng",
        "description": "Chỉnh sửa thông tin cá nhân, địa chỉ, số điện thoại phụ huynh, hoặc cập nhật giai đoạn chăm sóc của khách hàng.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-update",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Cập nhật thông tin khách hàng thành công",
                    "data": {
                      "id": 5012,
                      "updated_at": "2026-10-08 09:13:00"
                    },
                    "timestamp": "2026-10-08T09:13:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "address": "456 Lê Văn Sỹ, Phường 10, Quận Phú Nhuận, TP.HCM",
                  "stage_id": 4,
                  "guardian_phone": "0988776655"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Xóa Khách Hàng / Di Chuyển Vào Thùng Rác (Soft Delete)",
        "description": "Đưa hồ sơ khách hàng vào trạng thái lưu trữ/thùng rác. Dữ liệu lịch sử giao dịch và tài chính vẫn được bảo toàn nguyên vẹn trong hệ thống.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-delete",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Hồ sơ khách hàng đã được chuyển vào thùng rác thành công",
                    "data": {
                      "id": 5012,
                      "deleted_at": "2026-10-08 09:14:00"
                    },
                    "timestamp": "2026-10-08T09:14:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/contacts/:id/assign": {
      "post": {
        "summary": "Điều Phối / Bàn Giao Khách Hàng Cho Tư Vấn Viên",
        "description": "Chuyển giao quyền chăm sóc khách hàng cho tư vấn viên mới. Hệ thống sẽ gửi thông báo tức thì đến tài khoản được chỉ định.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-assign",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Bàn giao khách hàng thành công",
                    "data": {
                      "id": 5012,
                      "assigned_to": 1055,
                      "assigned_to_name": "Vũ Hoàng Minh"
                    },
                    "timestamp": "2026-10-08T09:15:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "assigned_to": 1055,
                  "reason": "Chuyển giao cơ sở Tân Bình sang cơ sở Quận 1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/bulk-delete": {
      "post": {
        "summary": "Xóa Hàng Loạt Khách Hàng (Bulk Delete)",
        "description": "Thực hiện xóa hàng loạt danh sách khách hàng không tiềm năng hoặc rác theo mảng ID.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-bulk-delete",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Đã xóa thành công 3 hồ sơ khách hàng",
                    "data": {
                      "deleted_count": 3,
                      "ids": [
                        5015,
                        5016,
                        5017
                      ]
                    },
                    "timestamp": "2026-10-08T09:16:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "ids": [
                    5015,
                    5016,
                    5017
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/:id/notes": {
      "get": {
        "summary": "Truy Vấn Lịch Sử Ghi Chú & Tương Tác Của Khách Hàng",
        "description": "Lấy toàn bộ dòng thời gian ghi chú, nội dung cuộc gọi tư vấn và biên bản làm việc của khách hàng.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-notes-list",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Lấy lịch sử ghi chú thành công",
                    "data": [
                      {
                        "id": 892,
                        "contact_id": 5012,
                        "author_name": "Nguyễn Thị Lan",
                        "content": "Phụ huynh đã đồng ý cho con theo học chương trình Quốc Tế, hẹn thứ 7 lên văn phòng làm hồ sơ",
                        "created_at": "2026-10-07 10:15:00"
                      }
                    ],
                    "timestamp": "2026-10-08T09:17:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Thêm Ghi Chú Chăm Sóc Mới Cho Khách Hàng",
        "description": "Lưu lại biên bản tương tác, kết quả cuộc gọi hoặc thỏa thuận học phí với phụ huynh/học viên.",
        "tags": [
          "contacts"
        ],
        "operationId": "contacts-notes-create",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 201,
                    "message": "Thêm ghi chú tương tác thành công",
                    "data": {
                      "id": 893,
                      "contact_id": 5012,
                      "created_at": "2026-10-08 09:18:00"
                    },
                    "timestamp": "2026-10-08T09:18:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu khách hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "content": "Đã gọi điện tư vấn học bổng 30%, khách hàng yêu cầu gửi file brochure qua Zalo",
                  "next_action_date": "2026-10-10 09:00:00"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deals": {
      "get": {
        "summary": "Truy Vấn Danh Sách Cơ Hội Bán Hàng / Tuyển Sinh",
        "description": "Lấy danh sách các cơ hội bán hàng theo phễu, lọc theo giai đoạn (stage_id), tư vấn viên (assigned_to) và khoảng giá trị dự kiến.",
        "tags": [
          "deals"
        ],
        "operationId": "deals-list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Số thứ tự trang kết quả",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Số lượng bản ghi mỗi trang",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pipeline_id",
            "in": "query",
            "required": false,
            "description": "Lọc theo ID phễu tuyển sinh",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stage_id",
            "in": "query",
            "required": false,
            "description": "Lọc theo ID giai đoạn Kanban",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "required": false,
            "description": "Lọc theo ID nhân viên phụ trách",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Lấy danh sách cơ hội thành công",
                    "data": {
                      "items": [
                        {
                          "id": 1205,
                          "title": "Học Bổng BBA Quốc Tế - Trần Thị Mai Phương",
                          "contact_id": 5012,
                          "contact_name": "Trần Thị Mai Phương",
                          "pipeline_id": 1,
                          "stage_id": 3,
                          "stage_name": "Hẹn Phỏng Vấn Học Bổng",
                          "expected_revenue": 145000000,
                          "probability": 70,
                          "expected_close_date": "2026-10-25",
                          "assigned_to": 1042,
                          "assigned_to_name": "Nguyễn Thị Lan",
                          "created_at": "2026-10-06 15:00:00"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 25,
                        "total_items": 340,
                        "total_pages": 14
                      }
                    },
                    "timestamp": "2026-10-08T09:20:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu cơ hội bán hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Tạo Mới Cơ Hội Bán Hàng / Tuyển Sinh",
        "description": "Khởi tạo cơ hội bán hàng mới gắn liền với khách hàng tiềm năng, phễu tuyển sinh và giá trị dự thu.",
        "tags": [
          "deals"
        ],
        "operationId": "deals-create",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 201,
                    "message": "Tạo cơ hội bán hàng thành công",
                    "data": {
                      "id": 1206,
                      "title": "Khóa Học BBA Digital Marketing K2026 - Lê Hoàng Nam",
                      "created_at": "2026-10-08 09:22:00"
                    },
                    "timestamp": "2026-10-08T09:22:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu cơ hội bán hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "title": "Khóa Học BBA Digital Marketing K2026 - Lê Hoàng Nam",
                  "contact_id": 5013,
                  "pipeline_id": 1,
                  "stage_id": 2,
                  "expected_revenue": 120000000,
                  "probability": 60,
                  "expected_close_date": "2026-11-15"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deals/:id": {
      "get": {
        "summary": "Truy Vấn Chi Tiết Cơ Hội Bán Hàng & Danh Mục Khóa Học",
        "description": "Lấy toàn bộ thông tin cơ hội, lịch sử thay đổi giai đoạn phễu và danh mục khóa học hoặc sản phẩm đính kèm trong cơ hội.",
        "tags": [
          "deals"
        ],
        "operationId": "deals-detail",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Truy vấn chi tiết cơ hội thành công",
                    "data": {
                      "id": 1205,
                      "title": "Học Bổng BBA Quốc Tế - Trần Thị Mai Phương",
                      "contact_id": 5012,
                      "contact_phone": "0987654321",
                      "pipeline_name": "Tuyển Sinh Đại Học 2026",
                      "stage_name": "Hẹn Phỏng Vấn Học Bổng",
                      "expected_revenue": 145000000,
                      "probability": 70,
                      "products": [
                        {
                          "product_id": 101,
                          "product_name": "Khóa Học BBA K2026 Toàn Phần",
                          "quantity": 1,
                          "unit_price": 145000000
                        }
                      ],
                      "created_at": "2026-10-06 15:00:00"
                    },
                    "timestamp": "2026-10-08T09:21:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu cơ hội bán hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Cập Nhật Thông Tin Cơ Hội Bán Hàng",
        "description": "Chỉnh sửa tên cơ hội, doanh thu dự thu, xác suất thành công hoặc ngày dự kiến chốt đơn.",
        "tags": [
          "deals"
        ],
        "operationId": "deals-update",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Cập nhật cơ hội thành công",
                    "data": {
                      "id": 1205,
                      "updated_at": "2026-10-08 09:23:00"
                    },
                    "timestamp": "2026-10-08T09:23:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu cơ hội bán hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "expected_revenue": 130000000,
                  "probability": 85,
                  "expected_close_date": "2026-10-20"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Xóa Cơ Hội Bán Hàng",
        "description": "Xóa bỏ cơ hội bán hàng khỏi phễu tư vấn khi khách hàng từ bỏ hoặc bị tạo nhầm.",
        "tags": [
          "deals"
        ],
        "operationId": "deals-delete",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Xóa cơ hội bán hàng thành công",
                    "data": {
                      "id": 1205,
                      "deleted_at": "2026-10-08 09:24:00"
                    },
                    "timestamp": "2026-10-08T09:24:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu cơ hội bán hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/deals/:id/stage": {
      "put": {
        "summary": "Chuyển Giai Đoạn Phễu Bán Hàng (Kanban Drag-Drop)",
        "description": "Kéo thả chuyển cơ hội sang bước tiếp theo trong quy trình bán hàng, tự động kích hoạt tính toán xác suất và cập nhật thống kê báo cáo phễu.",
        "tags": [
          "deals"
        ],
        "operationId": "deals-stage-move",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Chuyển giai đoạn cơ hội thành công",
                    "data": {
                      "id": 1205,
                      "stage_id": 4,
                      "stage_name": "Đã Nộp Hồ Sơ Đăng Ký",
                      "updated_at": "2026-10-08 09:25:00"
                    },
                    "timestamp": "2026-10-08T09:25:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu cơ hội bán hàng theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "stage_id": 4,
                  "loss_reason": null
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deals/stages": {
      "get": {
        "summary": "Danh Mục Các Giai Đoạn Pipeline Bán Hàng",
        "description": "Lấy danh mục các bước chuẩn trong phễu bán hàng (vd: Mới tiếp cận, Đã tư vấn, Hẹn lịch, Nộp hồ sơ, Thành công, Thất bại).",
        "tags": [
          "deals"
        ],
        "operationId": "deals-stages-list",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Lấy danh mục giai đoạn thành công",
                    "data": [
                      {
                        "id": 1,
                        "name": "Lead Mới Nhận",
                        "order": 1,
                        "default_probability": 20
                      },
                      {
                        "id": 2,
                        "name": "Đã Liên Hệ Tư Vấn",
                        "order": 2,
                        "default_probability": 40
                      },
                      {
                        "id": 3,
                        "name": "Hẹn Lên Cơ Sở",
                        "order": 3,
                        "default_probability": 60
                      },
                      {
                        "id": 4,
                        "name": "Đã Nộp Hồ Sơ / Đặt Cọc",
                        "order": 4,
                        "default_probability": 80
                      },
                      {
                        "id": 5,
                        "name": "Nhập Học Thành Công (Won)",
                        "order": 5,
                        "default_probability": 100
                      }
                    ],
                    "timestamp": "2026-10-08T09:26:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/lead-distribution/rounds": {
      "get": {
        "summary": "Truy Vấn Danh Sách Vòng Chia Lead & Quota Tư Vấn Viên",
        "description": "Lấy danh sách các tư vấn viên trong hàng đợi chia lead hôm nay, quota tối đa, số lead đã nhận và trạng thái sẵn sàng trực tuyến.",
        "tags": [
          "lead-distribution"
        ],
        "operationId": "lead-rounds-list",
        "parameters": [
          {
            "name": "branch_id",
            "in": "query",
            "required": false,
            "description": "Lọc theo cơ sở / chi nhánh",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Lấy danh sách vòng chia lead thành công",
                    "data": [
                      {
                        "consultant_id": 1042,
                        "full_name": "Nguyễn Thị Lan",
                        "daily_quota": 10,
                        "received_today": 4,
                        "is_active": true,
                        "vacation_mode": false
                      },
                      {
                        "consultant_id": 1055,
                        "full_name": "Vũ Hoàng Minh",
                        "daily_quota": 8,
                        "received_today": 3,
                        "is_active": true,
                        "vacation_mode": false
                      }
                    ],
                    "timestamp": "2026-10-08T09:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/lead-distribution/held-leads": {
      "get": {
        "summary": "Danh Sách Lead Đang Bị Tạm Giữ Quá Hạn Chưa Tương Tác",
        "description": "Truy vấn các lead đã bàn giao nhưng quá thời gian SLA quy định (thường là 30 phút) mà tư vấn viên chưa phát sinh cuộc gọi hoặc ghi chú tương tác.",
        "tags": [
          "lead-distribution"
        ],
        "operationId": "lead-held-leads",
        "parameters": [
          {
            "name": "sla_exceeded_minutes",
            "in": "query",
            "required": false,
            "description": "Số phút vượt ngưỡng SLA",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Truy vấn danh sách lead bị giữ quá hạn thành công",
                    "data": [
                      {
                        "contact_id": 5012,
                        "full_name": "Trần Thị Mai Phương",
                        "assigned_to": 1042,
                        "assigned_at": "2026-10-08 08:15:00",
                        "idle_minutes": 75
                      }
                    ],
                    "timestamp": "2026-10-08T09:31:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/lead-distribution/assign": {
      "post": {
        "summary": "Phân Phối Thủ Công Lead Cho Tư Vấn Viên",
        "description": "Trưởng nhóm hoặc Admin trực tiếp gán khách hàng tiềm năng cho nhân viên tư vấn xác định mà không cần chờ thuật toán tự động.",
        "tags": [
          "lead-distribution"
        ],
        "operationId": "lead-assign-manual",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Phân phối lead thành công",
                    "data": {
                      "contact_id": 5012,
                      "assigned_to": 1055,
                      "assigned_at": "2026-10-08 09:32:00"
                    },
                    "timestamp": "2026-10-08T09:32:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu lead theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
                    "error": "VALIDATION_FAILED",
                    "message": "Dữ liệu không hợp lệ. Vui lòng kiểm tra lại thông tin gửi lên.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "contact_id": 5012,
                  "consultant_id": 1055
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lead-distribution/release-held": {
      "post": {
        "summary": "Thu Hồi Lead Bị Giam Quá Hạn Trả Về Bể Chung",
        "description": "Thu hồi quyền chăm sóc của tư vấn viên vi phạm SLA chăm sóc, đưa lead trở lại hàng đợi phân phối hoặc bể chung cho nhân viên khác nhận.",
        "tags": [
          "lead-distribution"
        ],
        "operationId": "lead-release-held",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Thành công (Success)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "Thu hồi lead về bể chung thành công",
                    "data": {
                      "contact_id": 5012,
                      "previous_consultant_id": 1042,
                      "status": "returned_to_pool"
                    },
                    "timestamp": "2026-10-08T09:33:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 401,
                    "error": "UNAUTHORIZED",
                    "message": "Phiên đăng nhập đã hết hạn hoặc không hợp lệ. Vui lòng đăng nhập lại.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 403,
                    "error": "FORBIDDEN_SCOPE",
                    "message": "Bạn không có quyền thực hiện thao tác này trên tài nguyên được chỉ định.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 404,
                    "error": "RESOURCE_NOT_FOUND",
                    "message": "Không tìm thấy dữ liệu lead theo mã ID cung cấp.",
                    "timestamp": "2026-10-08T09:00:00Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "code": 422,
[...]
